/*
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 * 
 * CAPE destinée à être implémentée sur le tour de Daddy
 * 
 */
/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    /* identification */
    part-number = "Tour_Daddy";
    version     = "00A0";
    
    /* state the resources this cape uses */
    exclusive-use =
            /* the pin header uses */
            "P8.03",		/* SPINDLE EN  :  0x018 mode 7*/
            "P8.04",		/* SPINDLE PWM :  0x01C mode 7*/
            "P8.05",		/* SPINDLE DIR :  0x008 mode 7*/
            "P8.11",		/* eQEP2 CHB   :  0x034 mode 4*/
            "P8.12",		/* eQEP2 CHA   :  0x030 mode 4*/
            "P8.16",		/* eQEP2 CHI   :  0x038 mode 4*/
            "P9.25",		/* zstep       :  0x1AC mode 5*/
            "P9.27",		/* eQEP0 CHB   :  0x1A4 mode 1*/
            "P9.28",		/* zdir        :  0x19C mode 5*/
            "P9.29",		/* xstep       :  0x194 mode 5*/
            "P9.31",		/* xdir        :  0x190 mode 5*/
            "P9.41",		/* eQEP0 CHI   :  0x1A8 mode 1*/
            "P9.42";		/* eQEP0 CHA   :  0x1A0 mode 1*/

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pinctrl_Tour_Encoder: pinctrl_Tour_Encoder_pins {
                pinctrl-single,pins = <					 		
                		0x1A8 0x01  /* P9_41 - eQEP0 CHI*/
                		0x1A0 0x01  /* P9_42 - eQEP0 CHA*/
                		0x1A4 0x01  /* P9_27 - eQEP0 CHB*/
                >;
            };
        };
    };
	fragment@1 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pinctrl_CNC_GPIO: pinctrl_CNC_GPIO_pins {
                pinctrl-single,pins = <                                           
                                0x090 0x27  /* P9_11  GPIO        - xlim  */
                                0x09C 0x27  /* P9_12  GPIO        - ylim  */
                                0x034 0x27  /* P9_12  GPIO        - zlim */

                                0x094 0x07  /* P9_14 113 GPIO     - xok */
                                0x098 0x07  /* P9_15 113 GPIO     - yok */
                                0x030 0x07  /* P9_16 113 GPIO     - zok */ 
                >;
            };
	};
	};

	fragment@2 {
        	        target = <&ocp>;
               		 __overlay__ {
                       		 test_helper: helper {
                                compatible = "bone-pinmux-helper";
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_CNC_GPIO>;
                                status = "okay";
                       		 };
               		 };
       		 };
// This enables the PRU and assigns the GPIO pins to it for use in EGP mode.  
   fragment@3 {  
    target = <&pruss>;  
    __overlay__ {  
      status = "okay";  
      pinctrl-names = "default";  
      pinctrl-0 = <&pinctrl_CNC_PRU>;  
    };  
   };  
};
